In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
data=pd.read_csv("WIPRO.csv")

In [3]:
data.head(2)

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,WIPRO,EQ,2522.4,2724.00,2724.20,2724.00,2724.20,2724.20,2724.17,1599,4.355942e+11,NaN,NaN,NaN
1,2000-01-04,WIPRO,EQ,2724.2,2942.15,2942.15,2942.15,2942.15,2942.15,2942.15,4392,1.292192e+12,NaN,NaN,NaN

In [4]:
data.drop(["Symbol","Series","Turnover","Trades","Deliverable Volume","%Deliverble"],axis=1,inplace=True)

In [5]:
data.drop("Date",axis=1,inplace=True)

In [6]:
target=data["Open"]
data.drop("Open",axis=1,inplace=True)

In [7]:
data.head(3)

   Prev Close     High      Low     Last    Close     VWAP  Volume
0     2522.40  2724.20  2724.00  2724.20  2724.20  2724.17    1599
1     2724.20  2942.15  2942.15  2942.15  2942.15  2942.15    4392
2     2942.15  3177.55  2715.00  3000.00  2990.10  3063.86  132297

In [8]:
data.shape

(5306, 7)

In [9]:
train,test,y_train,y_test=train_test_split(data,target,test_size=0.3)

In [10]:
y_train.shape

(3714,)

In [26]:
l=train[0:2].values

In [27]:
l

array([[2.7055000e+02, 2.7320000e+02, 2.6715000e+02, 2.6825000e+02,
        2.6885000e+02, 2.7034000e+02, 1.3990387e+07],
       [2.5475000e+02, 2.6000000e+02, 2.5380000e+02, 2.5990000e+02,
        2.5930000e+02, 2.5860000e+02, 3.4962620e+06]])

In [12]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
High_train

array([[0.03269351],
       [0.03341674],
       [0.08748007],
       ...,
       [0.11331602],
       [0.01213139],
       [0.03997867]])

In [35]:
def norma(data,tdata):
  prev=MinMaxScaler()
  prev_close=np.array(data)
  tprev_close=np.array(tdata)
  prev.fit(prev_close.reshape(-1,1))
  prev_train=prev.transform(prev_close.reshape(-1,1))
  prev_test=prev.transform(tprev_close.reshape(-1,1))
  return list(prev_train),list(prev_test)

In [36]:
train_prevclose,test_prevclose=norma(train["Prev Close"],test["Prev Close"])
train_high,test_high=norma(train["High"],test["High"])
train_low,test_low=norma(train["Low"],test["Low"])
train_last,test_last=norma(train["Last"],test["Last"])
train_close,test_close=norma(train["Close"],test["Close"])
train_VWAP,test_VWAP=norma(train["VWAP"],test["VWAP"])
train_volume,test_volume=norma(train["Volume"],test["Volume"])

In [69]:
train_norm=pd.DataFrame({"prevclose":train_prevclose,
                         "high":train_high,
                         "low":train_low,
                         "last":train_last
                         })

In [68]:
test_norm=pd.DataFrame({"prevclose":test_prevclose,
                         "high":test_high,
                         "low":test_low,
                         "last":test_last
                         })

In [41]:
def moving_window(data,end_index,start_index,target):
  data_set=[]
  target_set=[]
  kl=end_index-start_index
  print("the kl is",kl)
  i=0
  while i<3694:
    k=i
    l=i
   
   
    data_set.append(data[k:k+20].values)
    target_set.append(target[l+20])
    i=i+1
  return data_set,target_set

In [ ]:
len(train)

3714

In [71]:
jkl=y_train.values

In [ ]:
jkl[3713]

763.0

In [72]:
z,u=moving_window(train_norm,len(train),20,jkl)

the kl is 3694

In [ ]:
len(z)

3694

In [73]:
z=np.asarray(z).astype(np.float32)

In [74]:
z.shape

(3694, 20, 4)

In [75]:
u=np.asarray(u).astype(np.float32)

In [53]:
u.shape

(3694,)

In [54]:
import tensorflow as tf

In [55]:
### Create the Stacked LSTM model
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LSTM

In [79]:
model=Sequential()
model.add(LSTM(20,return_sequences=True,input_shape=(20,4)))
model.add(LSTM(20,return_sequences=True))
model.add(LSTM(20))
model.add(Dense(1))
model.compile(loss='mean_squared_error',optimizer='adam')

In [80]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_9 (LSTM)               (None, 20, 20)            2000

 lstm_10 (LSTM)              (None, 20, 20)            3280

 lstm_11 (LSTM)              (None, 20)                3280

 dense_3 (Dense)             (None, 1)                 21

=================================================================
Total params: 8,581
Trainable params: 8,581
Non-trainable params: 0
_________________________________________________________________

In [81]:
model.fit(z,u,epochs=100,batch_size=64,verbose=1)

Epoch 1/100
58/58 [==============================] - 4s 7ms/step - loss: 1194214.5000
Epoch 2/100
58/58 [==============================] - 0s 7ms/step - loss: 1188025.2500
Epoch 3/100
58/58 [==============================] - 0s 7ms/step - loss: 1185416.2500
Epoch 4/100
58/58 [==============================] - 0s 6ms/step - loss: 1183273.5000
Epoch 5/100
58/58 [==============================] - 0s 7ms/step - loss: 1181257.3750
Epoch 6/100
58/58 [==============================] - 0s 6ms/step - loss: 1179311.5000
Epoch 7/100
58/58 [==============================] - 0s 6ms/step - loss: 1177404.0000
Epoch 8/100
58/58 [==============================] - 0s 6ms/step - loss: 1175528.7500
Epoch 9/100
58/58 [==============================] - 0s 7ms/step - loss: 1173675.1250
Epoch 10/100
58/58 [==============================] - 0s 6ms/step - loss: 1171833.1250
Epoch 11/100
58/58 [==============================] - 0s 6ms/step - loss: 1170014.1250
Epoch 12/100
58/58 [==============================] - 0s 6ms/step - loss: 1168197.2500
Epoch 13/100
58/58 [==============================] - 0s 6ms/step - loss: 1166406.2500
Epoch 14/100
58/58 [==============================] - 0s 6ms/step - loss: 1164607.8750
Epoch 15/100
58/58 [==============================] - 0s 7ms/step - loss: 1162827.8750
Epoch 16/100
58/58 [==============================] - 0s 6ms/step - loss: 1161052.8750
Epoch 17/100
58/58 [==============================] - 0s 7ms/step - loss: 1159286.0000
Epoch 18/100
58/58 [==============================] - 0s 7ms/step - loss: 1157529.2500
Epoch 19/100
58/58 [==============================] - 0s 7ms/step - loss: 1155775.0000
Epoch 20/100
58/58 [==============================] - 0s 6ms/step - loss: 1154033.6250
Epoch 21/100
58/58 [==============================] - 0s 7ms/step - loss: 1152288.2500
Epoch 22/100
58/58 [==============================] - 0s 6ms/step - loss: 1150554.8750
Epoch 23/100
58/58 [==============================] - 0s 6ms/step - loss: 1148826.3750
Epoch 24/100
58/58 [==============================] - 0s 6ms/step - loss: 1147098.0000
Epoch 25/100
58/58 [==============================] - 0s 6ms/step - loss: 1145381.7500
Epoch 26/100
58/58 [==============================] - 0s 7ms/step - loss: 1143664.8750
Epoch 27/100
58/58 [==============================] - 0s 6ms/step - loss: 1141956.3750
Epoch 28/100
58/58 [==============================] - 0s 6ms/step - loss: 1140253.0000
Epoch 29/100
58/58 [==============================] - 0s 6ms/step - loss: 1138545.7500
Epoch 30/100
58/58 [==============================] - 0s 6ms/step - loss: 1136855.1250
Epoch 31/100
58/58 [==============================] - 0s 6ms/step - loss: 1135158.6250
Epoch 32/100
58/58 [==============================] - 0s 6ms/step - loss: 1133471.8750
Epoch 33/100
58/58 [==============================] - 0s 7ms/step - loss: 1131785.6250
Epoch 34/100
58/58 [==============================] - 0s 6ms/step - loss: 1130105.3750
Epoch 35/100
58/58 [==============================] - 0s 6ms/step - loss: 1128429.8750
Epoch 36/100
58/58 [==============================] - 0s 7ms/step - loss: 1126757.0000
Epoch 37/100
58/58 [==============================] - 0s 6ms/step - loss: 1125091.7500
Epoch 38/100
58/58 [==============================] - 0s 6ms/step - loss: 1123422.6250
Epoch 39/100
58/58 [==============================] - 0s 7ms/step - loss: 1121763.7500
Epoch 40/100
58/58 [==============================] - 0s 6ms/step - loss: 1120102.6250
Epoch 41/100
58/58 [==============================] - 0s 6ms/step - loss: 1118452.7500
Epoch 42/100
58/58 [==============================] - 0s 6ms/step - loss: 1116806.6250
Epoch 43/100
58/58 [==============================] - 0s 6ms/step - loss: 1115156.2500
Epoch 44/100
58/58 [==============================] - 0s 6ms/step - loss: 1113519.5000
Epoch 45/100
58/58 [==============================] - 0s 6ms/step - loss: 1111881.0000
Epoch 46/100
58/58 [==============================] - 0s 6ms/step - loss: 1110246.2500
Epoch 47/100
58/58 [==============================] - 0s 7ms/step - loss: 1108615.2500
Epoch 48/100
58/58 [==============================] - 0s 6ms/step - loss: 1106988.7500
Epoch 49/100
58/58 [==============================] - 0s 6ms/step - loss: 1105364.3750
Epoch 50/100
58/58 [==============================] - 0s 6ms/step - loss: 1103747.3750
Epoch 51/100
58/58 [==============================] - 0s 6ms/step - loss: 1102127.2500
Epoch 52/100
58/58 [==============================] - 0s 7ms/step - loss: 1100519.5000
Epoch 53/100
58/58 [==============================] - 0s 7ms/step - loss: 1098903.3750
Epoch 54/100
58/58 [==============================] - 0s 6ms/step - loss: 1097299.5000
Epoch 55/100
58/58 [==============================] - 0s 6ms/step - loss: 1095700.1250
Epoch 56/100
58/58 [==============================] - 0s 6ms/step - loss: 1094094.7500
Epoch 57/100
58/58 [==============================] - 0s 6ms/step - loss: 1092501.2500
Epoch 58/100
58/58 [==============================] - 0s 6ms/step - loss: 1090911.2500
Epoch 59/100
58/58 [==============================] - 0s 6ms/step - loss: 1089315.7500
Epoch 60/100
58/58 [==============================] - 0s 6ms/step - loss: 1087732.3750
Epoch 61/100
58/58 [==============================] - 0s 7ms/step - loss: 1086149.1250
Epoch 62/100
58/58 [==============================] - 0s 6ms/step - loss: 1084566.7500
Epoch 63/100
58/58 [==============================] - 0s 6ms/step - loss: 1082989.5000
Epoch 64/100
58/58 [==============================] - 0s 6ms/step - loss: 1081413.5000
Epoch 65/100
58/58 [==============================] - 0s 6ms/step - loss: 1079845.1250
Epoch 66/100
58/58 [==============================] - 0s 6ms/step - loss: 1078275.2500
Epoch 67/100
58/58 [==============================] - 0s 6ms/step - loss: 1076708.5000
Epoch 68/100
58/58 [==============================] - 0s 6ms/step - loss: 1075150.5000
Epoch 69/100
58/58 [==============================] - 0s 6ms/step - loss: 1073587.5000
Epoch 70/100
58/58 [==============================] - 0s 6ms/step - loss: 1072037.0000
Epoch 71/100
58/58 [==============================] - 0s 6ms/step - loss: 1070485.8750
Epoch 72/100
58/58 [==============================] - 0s 6ms/step - loss: 1068933.3750
Epoch 73/100
58/58 [==============================] - 0s 7ms/step - loss: 1067389.3750
Epoch 74/100
58/58 [==============================] - 0s 6ms/step - loss: 1065845.2500
Epoch 75/100
58/58 [==============================] - 0s 6ms/step - loss: 1064308.1250
Epoch 76/100
58/58 [==============================] - 0s 6ms/step - loss: 1062766.3750
Epoch 77/100
58/58 [==============================] - 0s 6ms/step - loss: 1061234.1250
Epoch 78/100
58/58 [==============================] - 0s 6ms/step - loss: 1059703.2500
Epoch 79/100
58/58 [==============================] - 0s 7ms/step - loss: 1058172.6250
Epoch 80/100
58/58 [==============================] - 0s 7ms/step - loss: 1056652.5000
Epoch 81/100
58/58 [==============================] - 0s 6ms/step - loss: 1055125.8750
Epoch 82/100
58/58 [==============================] - 0s 6ms/step - loss: 1053608.7500
Epoch 83/100
58/58 [==============================] - 0s 6ms/step - loss: 1052090.1250
Epoch 84/100
58/58 [==============================] - 0s 6ms/step - loss: 1050576.1250
Epoch 85/100
58/58 [==============================] - 0s 6ms/step - loss: 1049064.7500
Epoch 86/100
58/58 [==============================] - 0s 6ms/step - loss: 1047552.6875
Epoch 87/100
58/58 [==============================] - 0s 6ms/step - loss: 1046050.3125
Epoch 88/100
58/58 [==============================] - 0s 6ms/step - loss: 1044546.7500
Epoch 89/100
58/58 [==============================] - 0s 6ms/step - loss: 1043045.8750
Epoch 90/100
58/58 [==============================] - 0s 7ms/step - loss: 1041551.3750
Epoch 91/100
58/58 [==============================] - 0s 6ms/step - loss: 1040059.7500
Epoch 92/100
58/58 [==============================] - 0s 6ms/step - loss: 1038571.5625
Epoch 93/100
58/58 [==============================] - 0s 6ms/step - loss: 1037082.0625
Epoch 94/100
58/58 [==============================] - 0s 6ms/step - loss: 1035598.5625
Epoch 95/100
58/58 [==============================] - 0s 6ms/step - loss: 1034116.5625
Epoch 96/100
58/58 [==============================] - 0s 6ms/step - loss: 1032638.3125
Epoch 97/100
58/58 [==============================] - 0s 6ms/step - loss: 1031166.1875
Epoch 98/100
58/58 [==============================] - 0s 6ms/step - loss: 1029690.3750
Epoch 99/100
58/58 [==============================] - 0s 7ms/step - loss: 1028225.7500
Epoch 100/100
58/58 [==============================] - 0s 7ms/step - loss: 1026757.9375